
.hero-grid{
    display: block;
}
.hero-ul{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hero-text-section{
    padding: 1rem;
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header h1{
    color: var(--blueish);
    font-size: 2rem;
}
.header h2{
    color: var(--winish);
}
.header p{
    line-height: 24px;
}
.hero-logo{
    width: 70px;
}
.hero-btn{
    width: 150px;
    height: 2.5rem;
    background-color: var(--blueish);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 4px 10px;
    cursor: pointer;
    color: var(--winish);
    font-weight: 700;
    border-radius: 5px;
    font-size: 1rem;
    margin: auto;
    font-family: inherit;
}
.hero-btn:hover{
    background-color: var(--winish);
    color: var(--blueish);
}
.hero-carousel{
    display: grid;
    margin:0;
} 
.hero-swiper{
    text-align: center;
}
.span{
    margin: 1.5rem 0;
    display: block;
}
.hero-image{
    width: 80%;
    margin:1.5rem auto;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero-links{
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: black;
}
.swiper-pagination{
    position: absolute;
    bottom: 10px !important;
}
.swiper-pagination .swiper-pagination-bullet{
    background-color: var(--blueish);
    opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active{
    background-color: var(--winish);
    opacity: 1;
}
.hero-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    /* text-align: center;
    padding: 1rem; */
}
.section{
    width: 250px;
}
.section-image{
    width: 100%;
    height: 350px;
}
.img-cont{
    position: relative;
    padding: 0 1rem;
}
.img-cont img{
    width: 100%;
}
.img-section{
    margin: 1.5rem 0;
}
.img-article{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding: 1.5rem;
}
.img-article button{
    float: right;
}
.hero-footer{
    background-color: var(--blueish);
    color: white;text-align: center;
    padding: 2rem 1rem;
}
.hero-footer a{
    color: var(--winish);
    font-style: italic;
}


@media screen and (min-width: 500px) {
    .hero{
        width: 90%;
        margin: auto;
    }
    .hero-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero-carousel{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-image{
        max-width: 400px;
        width: 80%;
        height: 450px;
    }
    .hero-form{
        width: 80%;
        max-width: 500px;
    }
    .hero-text-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .section-image{
        width: 290;
        height: 390;
    }
    .hero-btn{
        margin: 0;
    }
}
