.fave-movies{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.fave-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.fave-div section{
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.fave-div button{
    padding: 0.5rem;
}