.modal-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 24, 24, 0.5);
}
.modal{
    gap: 1.5rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 2rem;
}
.modal .times{
    width: 100%;
    text-align: right !important;
}
.modal .title{
    color: var(--winish);
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.04em;
}
.modal .icon{
    width: 2rem;
    color: blue;
}
.modal button{
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
}
.favAdded{
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: var(--secondary);
    color: white;
    width: max-content;
    padding: 0.5rem 1rem;
    display:flex;
    gap: 0.5rem;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    .modal{
        width: 300px;
    }
}