@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
}

:root{
  --primary: #F1F5FA;
  --secondary: #12cbaa;
  --grayish: #d3d5da;
  --blueish: #03314b;
  --winish: #f61c7a;
}

body{
  background-color: var(--primary);
  font-family: 'Kumbh Sans', sans-serif;
}